
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #484848;
}

body{
	background-color: #fff;
	color: #666;
	height: 1000px; /* a effacer*/
}

body, input, select, textarea {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 2em;
}



header{
	display: block;
	position: absolute;
	width: 100%;
	background-color: transparent;
	height: 3.25em;
	font-size: 19px;
	line-height: 3.25em;
	color: #484848;

}
header h1{
	color: #fff;
	position: absolute;
	left: 2.5em
}
header h1 a{
	color: #fff;
	font-weight: bold;

}
ul{
	list-style-type: none;

}

.nav-header{
	right:2em;
	position: absolute;
	text-transform: uppercase;
}
.nav-header h1{
	
}
.nav-header,  header h1{
	top: 38px;

}

.nav-header ul li{
	display: inline-block;
	margin-left: 2.3em;
	padding-left: 0;
	border-radius: 4px;
	font-size: 19px;
}

.nav-header ul li a{
	color: #ddd;

	
}

a{
	text-decoration: none;
}

#banner{
	padding: 14em 0 13em 0;
	background-image: url("../images/overlay.png"), url("../images/banner.jpg");
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	line-height: 1.75;
	text-transform: uppercase;
}

#banner h2{
	color: #fff;
	font-size: 52px;
	line-height: 1.35;
	font-weight: bold;
	margin-bottom: 20px;
}
#banner p{
	color: #aaa;
	font-size: 22px;
	margin-bottom: 1.75em;

}
#red-button{
	background-color: #f32853;
	margin: 0 42%;
	padding: 12px;
	border-radius: 4px;
}

#red-button a{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

#red-button:hover{
	background-color: #f44066;
}

.pad{
	padding: 5em 0;
}

.container{
	width: 50.8em;
	max-width: 1680px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80808017;
	/*height: 400px; /*a effacer*/
	display: flex;
}
.row{
	width: 50%;
	
	background-color: #80808017;
}

#sect1 h2{
	font-size: 44px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 60px;
}

#sect1 .container .row{
	margin-right: 56px;
}
#sect1 .container> .row:nth-of-type(odd){
	font-size: 25px;
	text-transform: uppercase;
	line-height: 40px;
}
#sect1  .container> .row:nth-of-type(even){
	margin-right: 0;
	font-size: 15px;
}
#plight{
	color: #aaa
}

.pset p{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 28px;
}

#sect2{
	background-color: #f6f6f6;
}

.pic-head{
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	line-height: 60px;
}
.pic-head h2{
	font-size: 44px;
	font-weight: bold;
}

.pic-head p{
	font-size: 26px;
	color: #aaa;
}

#sect2 > .container:nth-of-type(1){
	margin-bottom: 6em;
}

#sect2 > .container:nth-of-type(2){
	width: 67.8em;
}

.pic-frame h3{
	display: block;
	box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	padding: 2em 1em;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;

}


#plage, #capt-plage{
	width: 98%;
}

#capt-plage{
	float: left;
}

#jungle{
	margin-left: 33px;
	
}
#capt-jungle{
	float: right;
	margin-right: 3px;
}


#jungle, #capt-jungle{
	width: 94%;
}


#capt-plage, #capt-jungle{
	margin-top: -11px;
}






